{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Enter Query Information</h1>
    <form action="" method="post" name="stock_ticker">
      <div class="field">
        <label for="symbol" class="label">Ticker Symbol</label>
	<div class="control">
          <input type="text" name="symbol" class="input" required="required"/>
	</div>
      </div>
      
      <div class="field">
        <label for="start_date" class="label">Start Date, Format: MM-DD-YYYY (Earliest Available Date: 02-01-2019) </label>
        <div class="control">
          <input type="text" name="symbol" class="input" required="required"/>
        </div>
      </div>

      <div class="field">
        <label for="end_date" class="label">End Date, Format: MM-DD-YYYY (Latest Available Date: 01-08-2021) </label>
        <div class="control">
          <input type="text" name="symbol" class="input" required="required"/>
        </div>
      </div>

      <div class="field">
       <label for="closing" class="checkbox">
          <input type="checkbox" name="closing"/> Closing Price
	</label>
      </div> 

      <div class="field is-grouped">
        <div class="control">
	  <button class="button is-primary is-small">Submit</button>
	</div>
      </div>
     </form>

{% endblock %}
